* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #333;
  color: #f4f4f4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  width: 100vw;
}
div {
  max-width: 100vw;
  max-height: 100%;
}
#one {
  background-image: url("./images/aerial-photo-of-empty-meandering-road-in-between-forest-2876511.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#two {
  background-image: url("./images/photo-of-an-empty-road-during-daytime-2990770.jpg");
  height: 60vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}
#three {
  background-image: url("./images/aerial-photography-of-grass-field-3071758.jpg");
  height: 60vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}
#four {
  background-image: url("./images/close-up-photo-of-ram-2538412.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
p {
  margin: auto;
  text-align: left;
  font-size: 1.2rem;
  padding: 0.5em 1em;
}
#one + p {
  height: 15vh;
  padding-top: 1rem;
}
